body{
    background-image:url(background.jpeg);
    background-size:100%;
    margin-left: 20%;
}
h1 {
    font-family:Pacifico;
    font-size:55px;
    color:white;
    text-align: center;
}
.list{
    border-radius:6%;
    font-size: 20px;
    box-sizing: content-box;
    width:800px;
    height:500px;
    background-color: rgba(48, 163, 255, 0.43);
}
.affichageToDo{
    height:300px;
    width:600px;
    overflow: auto;
}
.uneToDo{
    background-color: #fcff0b;
    display: inline-block;
    font-style: italic;
    box-shadow:  black;
    white-space: nowrap;
    height:100px;
    width:590px;
}
.deleteButton{
    display:inline-block;
}
.inputAdd{
    width: 600px;
    height: 50px;
}
span{
    color: white;
}